body
{
	 margin-top:0px;
	 direction:rtl;
}
/* the main div*/
.ground 
{
	 background-image:url('../imges/img14.jpg');
	 background-size:cover
}


/* main style in the task */
h2
 {
     border-bottom:2px solid #d84b1f;
	 color:#d84b1f;
	 padding:10px;
	 height:15px;
	 width:100px
}

input 
{
	 width:250px;
	 color:white;
	 border:0px;
	 padding:5px;
	 background:rgba(123,83,22,0.5);
}

.contaner 
{
	 width:680px;
	 margin:auto;
	 overflow:hidden
}


/* the top of the page */
.ground  .contaner h1
{
	 width:300px;
	 color:white;
	 font-size:40px;
	 margin:150px 200px 150px 10px;
	 border-top:2px solid #ffffff;
     border-bottom:2px solid #ffffff;
	 padding-right:15px
} 

.ground .navbar 
{
	 background:rgba(43, 28, 7, 0.8);
	 height:40px;
	 position:fixed;
	 width:100%;
	 margin-bottom:50px
}

.ground .navbar ul 
{
	 list-style-type:none;
	 float:right;
	 overflow:hidden;
	 margin-top:5px;
	 
}
	
.ground  .navbar  ul li
{
	 display:inline-block;
	 margin:30p
}

.ground .navbar ul li a
{
     text-decoration:none;
	 margin:10px;
     color:white;	
}

.ground  .navbar  ul li.active a,
.ground  .navbar ul li a:hover
{
	 color:#ea531e;
}


/* the bady of the page */
.who-are 
{
	 background:rgba(43, 28, 7, 0.5);
	 overflow:hidden;
	 color:white;
	 margin:30px
}
	
.who-are p 
{
	 float:right;
	 width:350px;
	 height:200px;
	 line-height:35px
}

.who-are img
{
	 float:left;
	 height:155px;
	 width:280px
}
 
.writers 
{
	 background:rgba(43, 28, 7, 0.5);
     overflow:hidden;
	 color:white;
	 margin:30px	
}
.writers .example
{
	 height:200px;
	 width:600px;
	 overflow:hidden
}

.writers .example h3
{
	 margin:0px;
	 padding-right:5px;
     font-style:italic
}
 .writers .example p
{
	 float:right;
	 height:150;
	 width:300px;
	 text-align:justify;
}
.writer:hover .charles,.writer:hover .nagip
{
   
}
	
.example img
{
	 float:left;
	 height:150px;
     width:150px
}


.ourbooks .contaner
{
	 width:700px;
	 height:750px;
	 padding-left:15px;
	 margin:auto
}


.ourbooks .contaner h2
{
	 width:150px;
	 height:30px
}

.ourbooks .contaner img
{
     float:left;
     width:220px;
	 height:200px;
	 margin-left:10px;
	 margin-bottom:15px;
	 box-shadow:3px -3px 2px 2px #1f1a14
}



/* the contact and order online */
.order
{
	 padding:10px;
	 margin:30px;
	 background:rgba(43, 28, 7, 0.5)
	
}

.order  h2
{
	 width:150;
}

.order form label
{
	 margin:10px;
	 display:block;
	 color:white
}

.order textarea
{
	 width:500px;
	 height:180px;
	 border:0px;
	 background:rgba(123,83,22,0.5);
}

.order button
{
	 margin:20px;
	 float:left;
	 padding:5px;
	 width:100px;
	 border:0px;
	 color:white;
	 background:rgba(123,83,22,0.5);
}

.contact
{
	 background:rgba(43, 28, 7, 0.5);
	 padding-bottom:20px;
	 text-align:center;
	 color:white;
	 margin:30px
}

.contact p 
{
	 font-size:20px;
	 color:gray
}


	
.contact ul li
{
	 list-style-type:none;
	 display:inline-block;
	 overflow:hidden;
	 
}

.contact ul li a
{
     margin-bottom:20px;
	 color:white;
	 margin:20px
}

.contact h2
{
	width:150;
	margin-top:0px;
} 
