*
{
	margin:0px;
	padding:0px;
	transition:1s;
	text-transform:capitalize
}

.top
{
	background:#73253e;
	position:fixed;
	color:white;
	width:100%;
	height:50px;
	padding:5px;
	top:0px
}

.top a
{
	 text-decoration:none;
	 color:white;
}

.home
{
	background:#bdb3b6;
	color:white;
	float:left;
	margin:8px;
	padding:5px
}

ul li
{
	 list-style-type:none;
	 display:inline-block;
         padding:10px;
	 float:right;
	 color:white
}
	
.div1
{
	 font-size:18px;
	 position:fixed;
	 left:-100px;
	 margin:60px 10px
}

.about,.blog,.project,.contact
{
	 text-decoration:none;
	 border-radius:5px;
	 position:absolute;
	 color:white;
	 padding:5px;
	 width:100px;
	 height:20px;
	 top:10px;
	 left:10px

}

.about
{
	 background:#dea8b9;
	 position:absolute;
	 top:10px;
}

.blog
{
	 background:#e682a2;
	 position:absolute;
	 top:41px; 
}
	
.project
{
	 background:#de527f;
	 position:absolute;
	 top:72px;
}

.contact
{
	 background:#af3059;
	 position:absolute;
	 top:103px;
} 

.about:hover,.blog:hover,.project:hover,.contact:hover
{
	 left:90px;
	 padding-right:3px
}

.div2
{
	padding-left:40px;
	padding-top:60px;
	margin:20px;
	top:50px;
}

 dl dt 
{
	background:#bf97a3;
	border-radius:8px;
	font-size:20px;
	position:sticky;
	padding:5px;
	margin:5px;
	top:60px;
	left:0px;
}

dd
{
	padding-left:30px;
}

.after 
{
	background-image:url('../img/img4.jpg');
	background-attachment:fixed;
	margin:50px 100px;
	width:800px;
	height:150px;
	padding-top:100px
}

.after p
{
	background:rgba(115,8,43,0.4);
	margin:auto 50px;
	max-height:10px;
	overflow:hidden;
	color:white;
	padding:10px
}

.after:hover p
{
	min-height:70px;
	padding:20px
}

.after:hover :after 
{
	content:"you should be patient";
	background:#bdb3b6;
	margin:10px;
	display:block;
	padding:5px;
	color:white
}

.frist 
{
	background:url('../img/img7.jpg');
	background-attachment:fixed;
	width:900px;
	height:100px;
	padding:20px;
	margin:50px 
}
 
.frist p
{
	background:rgba(27,123,123,0.6);
	padding:5px
}
.frist p:first-letter
{
    background:#de527f;
	font-size:20px;
	padding:5px;
	border-radius:100px;
	line-height:70px
}

.frist p:first-line
{
	 background:gray;
	 padding:10px;
}
    	
.div3
{
	background-image:url('../img/img6.jpg');
	background-attachment:fixed;
	margin:50px 50px;
	width:800px;
	height:500px;
	padding:50px
}

.div4
{
	background:rgba(230,130,162,0.8);
	height:450px;
	padding:10px
}

.div5 
{
	background:rgba(82,15,36,0.6)
}

.div4 p 
{
	background:rgba(146,134,134,0.6)
}

.div5 ,.div4 p 
{
	margin:30px;
	padding:10px;
}

.div4 p:hover ~p 
{
	background:rgba(204,17,17,0.8)
}


	