*
{
	 margin:0px;
	 padding:0px;
	 transition:1s;
	 text-transform:capitalize
}

body
{
	 background:#0d1113;
	 color:white
}

/*   start the header  */
header
{
	 background-image:url('../imgs/web2.jpg');
	 background-size:cover;
	 text-align:center;
	 width:100%;
	 margin:0px;
	 color:white;
	 height:500px
}
	
.text
{
	 height:50px;
     padding:10%;
	 width:50%;
	 margin:0% 2%;
	 text-align:justify   
}

.background
{
	 border-right:550px solid rgba(19, 22,23,0.6);
	 height:100%;
	 transition:2s
}

.background .text input
{
	 width:120px;
	 height:25px;
	 color:white;
	 margin-top:30px;
	 background:none;
	 border:1px solid white
}

.background .text input:hover
{
	background:black
}
/*   end the header  */


/*   start the navbar */
nav
{
	 font-size:18px;
	 position:fixed;
	 left:-80px;
	 margin:20px 10px
}

 nav a
{
	 text-decoration:none;
	 border-radius:5px;
	 position:absolute;
	 position:fixed;
	 color:white;
	 padding:5px;
	 width:100px;
	 height:20px;
	 top:10px;
	 left:-105px

}

 header nav .home
{
	 background:gray;
	 margin:10px;
	 top:0px
}

header nav .about
{
	 background:gray;
	 margin:10px;
	 top:35px
}

header nav .team
{
	 background:gray;
	 margin:10px;
	 top:70px
}

header nav .contact
{
	 background:gray;
	 margin:10px;
	 top:105px
}

.home:hover,.about:hover,.team:hover,.contact:hover
{
	 left:-20px
}
/*  end the navbar  */


/*  start about me  */

article
{
	 width:70%;
	 padding:10px;
	 margin:auto;
	 height:240px;
	 margin-top:30px;
	 text-align:center;
	 background:#404040
}
article h2
{
	 margin-bottom:10px
}
 article img
{
	 width:25%;
	 float:left;
	 height:80%;
	 border-radius:50%
}

article .text
{
	 width:50%;
	 padding:10px;
	 float:right;
	 height:100%
}

article .text details
{
	 padding:10px;
	 margin:10px;
	 background:gray
}
/*  end about me  */


/*  start  my team */
.myt
{
	 height:400px;
	 padding:10px;
	 margin:auto;
	 margin-top:20px;
         text-align:center;
}

.myt h2
{
	 margin:30px 45%;
	 width:100px
}
	

.members
{
	 color:gray;
	 width:29%;
	 margin:10px;
	 padding:5px;
	 float:left;
	 height:300px;
	 margin-top:30px;
	 border:2px solid gray;
	 transition:all 0.7s ease-in-out;
	 cursor:pointer
}

.members:hover
{
	 transform:translate(0,-30px) rotatey(360deg);
	 opacity:0.2;
	 transition:all 0.7s ease-in-out
}

.myt .members img
{
	 height:180px;
	 width:80%;
	 margin:10px
}

.rate .text 
{
	 float:left;
	 width:40%;
	 color:gray;
	 padding:10px
} 

 .rate .mere
{
	 float:right;
	 width:50%;
	 padding:10px
}

meter ,progress
{
	 display:block;
	 margin:5px;
	 width:95%
}

.clear
{
	 clear:both
}
/*  end my team  */


/*  start contact   */
.cont 
{
	 padding:20px;
	 background:#171b1d
}

.cont input
{
	 width:90%;
	 height:20px;
}

.cont ul 
{
	 list-style-type:none;
	 text-align:center;
	 margin:20px
}

.cont ul li
{
	 margin:10px;
         font-weight:bold;
	 display:inline-block;
	 text-transform:capitalize;
}

.cont ul li a
{
         margin-bottom:20px;
	 color:white;
	 margin:10px
}
/*   end  contact   */